<div class="big-card_container">
	
	<div class="big-card_photo">
		<img
			src="../../../assets/imgs/invincible.jpg"
			alt="img"
			srcset=""
		>
	</div>

	<div class="big-card_title">
		<h1>
			<a href="#"> Invincible: Season 2 anunciada </a>
		</h1>
	</div>

	<div class="big-card_content">

		<p> 
			<a href="#">
				Previsão de estreia na segunda metade de 2023 
			</a>
		</p>
		
		<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam beatae optio rerum sapiente dicta accusamus, molestias cupiditate! Asperiores praesentium nemo dolores aperiam, dolorum nihil atque voluptates eos iusto! Quaerat iste facere possimus. Assumenda illum, pariatur ratione corrupti aliquam doloremque atque. </p>
	
	</div>

</div>