

<app-page-title></app-page-title>

<div class="articles_container">
	<div class="articles_main">
		<app-big-card
			Id="1"
			cardPhoto="../../../assets/imgs/invincible.jpg"
			cardTitle="Invincible: Season 2 a caminho"
			cardDescription="Arrasta pra cima"
		></app-big-card>
	</div>

	<div class="articles_others">
		<app-small-card
			Id="2"
			cardPhoto="../../../assets/imgs/vox2.jpg"
			cardDescription="Season 2 de vox machina lança com alta aprovação"
		></app-small-card>
		<app-small-card
		Id="3"
		cardPhoto="../../../assets/imgs/sleep.png"
		cardDescription="PLA: Seu pokémon como você nunca viu"
	></app-small-card>
		<app-small-card
		Id="4"
		cardPhoto="../../../assets/imgs/dorohedoro.png"
		cardDescription="Dorohedoro: Sem notícias sobre a season 2"
	></app-small-card>
</div>

<hr>

<!-- <div class="articles_container">
	<div class="articles_main">
		<app-big-card
			cardPhoto="../../../assets/imgs/garfield.jpg"
			cardTitle="Garfield: Nova série animada vem aí"
			cardDescription="lorem50"
		></app-big-card>
	</div> -->

	
</div>

<hr>